; Top-most http://editorconfig.org/ file
root = true

[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

; 4-column indentation
[*.{cs,csproj,xaml,xml,sln,props,targets,resx,config}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true

[*.{md,yml}]
indent_style = space
indent_size = 2
