/plugins/*.*
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user

gource-gk.cmd
build_coverity.cmd
/projects/GEDKeeper2.mswin-cov.sln
sonarqube.cmd
code_heat.sh

/projects/GEDKeeper2/bin/
/projects/GEDKeeper2/obj/

/projects/GKCommon/bin/
/projects/GKCommon/obj/

/projects/GKIntl/bin/
/projects/GKIntl/obj/

/projects/GKSandbox/bin/
/projects/GKSandbox/obj/

/projects/GKUpdater/bin/
/projects/GKUpdater/obj/

/projects/GKTests/bin/
/projects/GKTests/obj/
/projects/GKTests/OpenCover/
/projects/GKTests/PartCover/

/projects/GKSamplePlugin/bin/
/projects/GKSamplePlugin/obj/

/projects/GKCalculatorPlugin/bin/
/projects/GKCalculatorPlugin/obj/

/projects/GKCalendarPlugin/bin/
/projects/GKCalendarPlugin/obj/

/projects/GKFlowInputPlugin/bin/
/projects/GKFlowInputPlugin/obj/

/projects/GKImageViewerPlugin/bin/
/projects/GKImageViewerPlugin/obj/

/projects/GKNamesBookPlugin/bin/
/projects/GKNamesBookPlugin/obj/

/projects/GKNavigatorPlugin/bin/
/projects/GKNavigatorPlugin/obj/

/projects/GKPedigreeImporterPlugin/bin/
/projects/GKPedigreeImporterPlugin/obj/

/projects/GKTextSearchPlugin/bin/
/projects/GKTextSearchPlugin/obj/

/projects/GKTimeLinePlugin/bin/
/projects/GKTimeLinePlugin/obj/

/projects/GKTreeVizPlugin/bin/
/projects/GKTreeVizPlugin/obj/

/projects/GKLifePlugin/bin/
/projects/GKLifePlugin/obj/
