[submodule "projects/GKCommunicator"]
	path = projects/GKCommunicator
	url = https://github.com/Serg-Norseman/GKCommunicator.git
[submodule "projects/GKGenetix"]
	path = projects/GKGenetix
	url = https://github.com/Serg-Norseman/GKGenetix.git
