**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/ProfilingSessions/

/plugins/*.*
/plugins/**/
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user
/appdata/
Eto.xml
*.log
*.user

gource-gk.cmd
NUnitResults.xml
opencover.xml
/projects/GKTests/OpenCover/
/projects/GKTests/PartCover/
/projects/GKv3/packages/**/
.idea/
adb-copy.cmd

GEDKeeper2Lux.sln
/projects/plugins/GKLuxTree/
