**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/ProfilingSessions/
**/OpenCover/
**/PartCover/

/plugins/*.*
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user
/appdata/
Eto.xml
*.log

gource-gk.cmd
code_heat.sh

/cov-int/
build_coverity.cmd
/projects/GEDKeeper2.mswin-cov.sln
coverity.zip

/.sonarqube/
NUnitResults.xml
opencover.xml
build_sonarqube.cmd

/projects/GKvX/
/projects/GKvU/

/LuaInterface.dll.config
