Package: gedkeeper
Version: 2.20.1-1
Architecture: all
Depends: mono-complete (>=5.12), sqlite3
Maintainer: Sergey V. Zhdanovskih (aka Norseman) <gedkeeper@yandex.ru>
Homepage: https://gedkeeper.github.io/
Origin: https://github.com/serg-norseman/gedkeeper
Installed-Size: 32400
Section: misc
Priority: optional
Description: GEDKeeper
 Personal genealogical database editor.
