**/.vs/
/plugins/*.*
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user

/temp/

/GEDKeeperX/bin/
/GEDKeeperX/obj/

/GEDKeeperX.Android/bin/
/GEDKeeperX.Android/obj/

/GEDKeeperX.iOS/bin/
/GEDKeeperX.iOS/obj/

/GEDKeeperX.UWP/bin/
/GEDKeeperX.UWP/obj/
