[Desktop Entry]
Name=GEDKeeper2
Comment=Personal genealogical database editor
Comment[ru]=Редактор персональной генеалогической базы данных
Comment[uk]=Редактор персональної генеалогічної бази даних
Path=/usr/lib/gedkeeper/
Exec=mono GEDKeeper2.exe %U
MimeType=application/x-gedkeeper
Icon=/usr/share/pixmaps/gedkeeper.png
Terminal=false
Type=Application
Categories=Office;Hobby
StartupNotify=true

