;1033,enu,English
File
Edit
Pedigree
Service
&Windows
Help
New
Open...
Reopen
Save
Close
Properties...
Export
Book of families...
Save As...
Export to Excel workbook...
Exit
Import
Clear
Add record
Edit record
Delete record
<?>
Ancestors tree
Descendants tree
Complete tree
d'Aboville descending pedigree
Konovalov descending pedigree
Maps
Statistics
Ascending pedigree
<?>
<?>
<?>
Organizer
Scripts...
<?>
Tools...
Filter
Options
&Cascade
&Horizontal tile
&Vertical tile
&Minimize all
&Rearrange all
Internet resources...
Kinship terms...
FAQ...
Content
About
Records
filtered
Individuals
Families
Notes
Multimedia
Sources
Repositories
Groups
Researches
Tasks
Communications
Locations
unknown
unknown
?
Male
Female
Undetermined
Do you want to save changes to the modified file?
The specified parent has an existed family "{0}". Do you want to add the child to that family?
Are you sure you want to remove individual "{0}"?
Are you sure you want to remove family "{0}"?
Are you sure you want to remove note "{0}"?
Are you sure you want to remove source "{0}"?
Are you sure you want to remove multimedia "{0}"?
Are you sure you want to remove repository "{0}"?
Are you sure you want to remove group "{0}"?
Are you sure you want to remove research "{0}"?
Are you sure you want to remove task "{0}"?
Are you sure you want to remove communication "{0}"?
Are you sure you want to remove location "{0}"?
Address
Events
Last name
First name
Patronymic
Sex
Nickname
Last name prefix
Name prefix
Name suffix
Patriarch
Bookmark
Association
Relation
Individual
Apply
Cancel
Close
Select
Append
New individual
Edit individual
Checking of sex
Selecting a record
Source citation
User reference
Note
Source
Page
Certainty
Reference
Type
Family
Husband
Wife
Status
Children
Are you sure you want to detach link to husband?
Are you sure you want to detach link to wife?
Are you sure you want to detach link to child?
Birth date
Death date
Security restriction
Title
Members
Edit group
Are you sure you want to detach link to member?
view
Stage
Telephone number
email
Web site
Repository
Progress
Elapsed time
Remaining time
Total time
Date
Text
Short title
Author
Published
Common
Are you sure you want to detach link to repository?
Store type
File
View
Fragment {0}: {1} person(s)
Father
Mother
Parents
Spouses
Associations
User references
Gregorian
Julian
Hebrew
Islamic
Persian
Indian
Bahai
French
Roman
Unknown
Summary
Other
Submission
Submitter
Location
Latitude
Longitude
Show
Search coords
Search
Select coords
Select name
Priority
Percent
Started
Stopped
Goal
Theme
Corresponder
Group
Are you sure you want to detach link to task?
Are you sure you want to detach link to communication?
Are you sure you want to detach link to group?
Edit research
Edit task
Edit communication
Error
Lua start failed!
Date format is invalid
Country
State
City
Postal code
Telephone numbers
Emails
Web sites
Value
Event
Place
Cause
Agency
Female
Male
An individual record is not selected.
This individual has no sex defined.
This individual has no families.
Estimated number of ancestors {0} is more than permissible limits.
Estimated number of descendants {0} is more than permissible limits.
Generations visible:
unlimited
Spouse
Marriage date
Are you sure you want to detach link to father?
Are you sure you want to detach link to mother?
Are you sure you want to detach link to spouse?
Are you sure you want to detach link to parents?
All
Ancestors only
Descendants only
Trace root
Edit
Add family
Add spouse
Add son
Add daughter
Delete
Rebuild tree
Rebuild kinships
Links
Place and attribute
marriage
family
Namesakes
Remove the event?
Are you sure you want to detach link to note?
Are you sure you want to detach link to multimedia?
Are you sure you want to detach link to source?
Are you sure you want to remove the association?
Are you sure you want to remove reference "{0}"?
Loading of gedcom failed.
Check gedcom format failed.
Birth days
{1} days remain before the birthday of "{0}"
Interface
Trees
Pedigrees
Files encoding
Addresses
Mails
Webs
Internet
Use proxy
Server
Port
Login
Password
The password is not specified
Show tips on startup
Language
All lists
List of individuals
Name format in lists
Surname_Name_Patronymic
Surname; Name_Patronymic
Surname; Name; Patronymic
Date format in lists
Include address into place text
Highlight unparented
Highlight unmarried
Default values
Show individuals in tree
Separate lines
Only years
Kinship
Additional symbols
Tree decorative
Show portraits
Hide died in childhood
Decor
Man
Woman
Unknown sex
Divorcee husband
Divorcee wife
Font
Pedigree generation
Include attributes of individuals
Include notes
Include sources
Pedigree format
Excess
Compact
Jump to a record
Move record up
Move record down
Full name
Birth place
Death place
Residence
Age
Lifetime
Days before birth
Religion
Nationality
Education
Occupation
Caste
Mili
Mili ind
Mili dis
Mili rank
Changed
Marriage registered
Marriage is not registered
Divorced
Birth
Adoption
Christening
Graduation
Retirement
Naturalization
Emigration
Immigration
Census
Will
Probate of will
Death
Burial
Cremation
Fact
Physical description
National ID Number
Social security number
Number of children
Number of marriages
Property
Title
Travel
Hobby
Award
?
father
mother
husband
wife
son
daughter
grandfather
grandmother
grandson
granddaughter
brother
sister
son-in-law
daughter-in-law
father-in-law
mother-in-law
father-in-law
mother-in-law
uncle
aunt
nephew
niece
cousin
cousin
<?>
<?>
<?>
<?>
<?>
<?>
<?>
<?>
<?>
Image width is more than 65,000 pixels. Unable to save.
Back
Next
<?>
Next
You know that ...
Load and search for places
(not selected)
Sample
For all people
Places of birth
Places of death
Places of residence
Only selected
Save image...
The format is not supported
Error loading data.
Print
Preview
Generation
<?>
<?>
Exact
Before
After
Between
Period before
Period from
Period between
About
Calculated
Estimated
Engagement
Marriage
Public announcement of the marriage
Marriage contract
Obtaining permission to marry
Conclusion of the marriage agreement
Annulment of marriage
Filing of divorce
Divorce
Link to file
Saving to the archive
Saving to the store
-
Audio
Book
Card
Electronic
Fiche
Film
Magazine
Manuscript
Map
Newspaper
Photo
Tombstone
Video
- Unknown -
None
Low
Normal
High
Top
Defined
In progress
On hold
Problems
Completed
Withdrawn
Call
EMail
Fax
Letter
Tape
Visit
from
to
individual
family
source
other
Unreliable evidence
Questionable reliability of evidence
Circumstantial evidence
Direct and primary evidence
Research
Task
Correspondence
Correction IDs
Check format
Correction of identity records is required, continue?
Number of objects in the master database: {0}
Synchronization is complete.
Search the patriarchs
Search links
Archive not found, the data is not loaded
Scale
GEDKeeper GEDCOM files (*.ged)|*.ged|GEDKeeper GEDCOM encrypted files (*.geds)|*.geds
All files (*.*)|*.*
Images (*.bmp;*.gif;*.png;*.jpg)|*.bmp;*.gif;*.png;*.jpg
Scripts (*.lua)|*.lua
BMP files (*.bmp)|*.bmp|JPEG files (*.jpg)|*.jpg|EMF files (*.emf)|*.emf|PNG files (*.png)|*.png|GIF files (*.gif)|*.gif
Death causes
Pedigree
Parameter
Total
Men
Women
Fields filter
Year
PDF files (*.pdf)|*.pdf
RTF files (*.rtf)|*.rtf
HTML files (*.html)|*.html
Files backup
only previous file
Cutting off the branches
not
on years
in selected individuals
- all -
- not -
- any -
Master database
Database to merge
[current database]
There is a filter by a source. Do you want to add the source to a new individual?
There is a filter by a group. Do you want to add the group to a new individual?
Duplicates search
Invalid value
Operation
Compare databases
Merge databases
Split database
Merge records
Import pedigrees
Check connection of families
Check database
Search the patriarchs
Manage places
Matching...
Check connection of families
all
living only 
dead only
Lived before
men only
women only
Mask of name
Mask of residence
Mask of the facts
Patriarchs only
Date is invalid
People
Years
Decade
Born
Died
Living
Dead
Average age
Life expectancy
Average number of children
Average age of the first child birth
Average number of marriages
Average age of marriage
Number of ancestors
Number of descendants
Number of generations of descendants
Birth years
Birth years (decades)
Death years
Death years (decades)
Distribution of the number of children
Age of first child birth
Age at marriage
Age difference of spouses
Select all links
Select family
Select ancestors
Select descendants
Merge
Search
Skip
Records
Search persons
Direct matching
Indistinct matching
Only by name / middle name (women only)
Check the year of birth
The accuracy of the name, %
Years inaccuracy
Repair
Generations of descendants, not less than
Set a sign
Register in list of locations
Similar surnames:
Similar names:
Selected personal records removed
Record
Problem
Solve
Perhaps died (age {0})
Sex is undefined
Year of birth more than year of death
The first marriage at the age of {0} years?
The first child was born at the age of {0} years?
Descendants
Generations
Number of links
Processing places
The place is already in the locations list
DNA markers
Average age of parents at the time first-born appeared, relative to parents age
Average age of parents at the time first-born appeared, relative to children age
Empty family record
backup each file revision
Loading
File saving error "{0}"{1}.
Background color...
Background image...
Persons in tree: {0}
View the error log
Ancestors Circle
Circle
Text color
Back color
Lines color
None
Locked
Confidential
Privacy
Send the error log
Charts
Fit window size
Zoom in
Zoom out
Ascertain a fact of death
Determine a sex
Plugins
Auto-trace relationships
No matches found
Find previous
Find next
The certainty index
Monthes of birth
Month
Reset
Field
Condition
Source is not specified
Slideshow
Previous record
Next record
Generation failed
Start
Stop
Demographics
Names
Name-nickname
Birth name
In immigration
Maiden name
Marriage name
Delete a name?
You cannot delete the single name
Quote
Place a bookmark on merged records
Show calendar near dates
Duplicate record
Attention: if you duplicate an individual, family links and associations are not copied
Show date type
Create a new tree file
Open the tree file
Save tree file
Add record (Ctrl+I)
Edit record (Ctrl+Enter)
Delete record (Ctrl+L)
Filtering list of records
Show a tree of ancestors
Show a tree of descendants
Show full tree
Pedigree
Pedigree by d'Aboville
Pedigree by Konovalov
Statistical analysis of data
Save the image
Display modes
Create a new script
Open a script
Save script
Execute the script
Attach the portrait
Detach the portrait
Join the family of parents
Edit the family of the parents
Disconnect family parents
Select or add the father
Disconnect father
Go to the record of the father
Select or add the mother
Disconnect mother
Go to the record of the mother
Copy name to clipboard
Select or add husband
Disconnect husband
Go to the record of the husband
Select or add wife
Disconnect wife
Go to the record of the wife
Choose an individual
Select or add a location
Remove the link to the place
Show the map
Select or add a record of source
Select the target record
If you use "file" or "store" storage type, you have to save new database file before continue
A file with the same name already exists in the repository
It's not a GEDSEC-compatible file
This individual has a few families. Children should be added via the spouses.
Export to Excel failed
Specific filter
Display lines
Type of comparison
Internal comparing (search for duplicates)
Comparing with another database
Analysis (experimental)
Compare
Ignore dates
Chart
Family book
Table of contents
Records of individuals
Directories
Unable to auto-detect gender using name "{1}". Is it male gender?
Autosave every
minutes
Including number of generations
Hide empty segments
Descendants Circle
Choice of portrait
Relationship Calculator
is {0} of
Today is birthday of {0}
Tomorrow is birthday of {0}
Blood group
Hair color
Eyes color
mtDNA haplogroup
Y-DNA haplogroup
Record is locked by editor
Maiden surname
Married surname
Additional names
Extended women's surnames
Format "Maiden (Married)"
Format "Married (Maiden)"
Format "Maiden"
Format "Married"
H
W
Geocoder
Add father
Add mother
Show default portraits
A media file is added from the removable media. Continue?
Warn when adding media files from removable media
Load at startup recent opened files
Today is holiday "{0}"
Tomorrow is holiday "{0}"
{1} days remain before the holiday "{0}"
Holidays
Use embedded MediaPlayer
Allow direct references to media files
Copying file
Actions
Select and copy
№