;1049,rus,Русский
Файл
Правка
Родословная
Сервис
&Окна
Справка
Новый
Открыть...
Открыть последний
Сохранить...
Закрыть
Свойства файла...
Экспорт
Фамильная книга...
<?>
Экспорт в Excel-файл...
Выход
<?>
<?>
Добавить запись
Изменить запись
Удалить запись
<?>
Древо предков
Древо потомков
Древо полное
Нисходящая роспись по дАбовиллю
Нисходящая роспись по Коновалову
Карты
Статистика
Восходящая роспись
<?>
<?>
<?>
Органайзер
Скрипты...
<?>
Инструменты...
Фильтр
Настройки
&Каскад
&Горизонтальная мозаика
&Вертикальная мозаика
&Свернуть все
&Разместить все
Ресурсы в Интернете...
Терминология родства...
Часто задаваемые вопросы...
Содержание
О программе
Записей
фильтрованных
Персоны
Семьи
Заметки
Мультимедиа
Источники
Архивы
Группы
Исследования
Задачи
Коммуникации
Места
неизвестная
неизвестный
?
Мужской
Женский
Неопределенный
Файл изменен. Сохранить?
У заданного родителя найдена семья "{0}". Включить в неё ребенка?
Удалить персональную запись "{0}"?
Удалить семью "{0}"?
Удалить заметку?
Удалить источник "{0}"?
Удалить мультимедиа "{0}"?
Удалить архив "{0}"?
Удалить группу "{0}"?
Удалить исследование "{0}"?
Удалить задачу "{0}"?
Удалить коммуникацию "{0}"?
Удалить место "{0}"?
Адрес
Факты
Фамилия
Имя
Отчество
Пол
Прозвище
Префикс фамилии
Префикс имени
Суффикс имени
Патриарх
Закладка
Ассоциация
Отношение
Персона
Принять
Отменить
Закрыть
Выбрать
Добавить
Новая персональная запись
Редактирование персональной записи
Проверка пола
Выбор записи
Цитата источника
Пользовательская сноска
Заметка
Источник
Лист/Страница
Достоверность
Сноска/ссылка
Тип
Семья
Муж
Жена
Статус
Дети
Удалить ссылку на мужа?
Удалить ссылку на жену?
Удалить ссылку на ребенка?
Дата рождения
Дата смерти
Ограничение безопасности
Название
Участники
Редактирование группы
Удалить ссылку на участника группы?
просмотр
Этап
Телефон
Эл. почта
Сайт
Архив
Прогресс
Времени прошло
Времени осталось
Времени всего
Дата
Текст
Краткое название
Автор
Опубликовано
Общее
Удалить ссылку на архив?
Способ хранения
Файл
Просмотр
Для выбранного типа хранения не включен режим расширения
Отец
Мать
Родители
Супруги
Ассоциации
Сноски/Пометки
Григорианский
Юлианский
Еврейский
Исламский (Хиджры)
Иранский
Индийский
Бахаи
Французский
Римский
Неизвестно
Сводка
Прочее
Предоставление
Податель
Местоположение
Широта
Долгота
Показать
Поиск координат
Поиск
Выбрать коорд.
Выбрать название
Приоритет
Процент
Запущено
Завершено
Цель
Тема
Корреспондент
Группа
Удалить ссылку на задачу?
Удалить ссылку на корреспонденцию?
Удалить ссылку на группу?
Редактирование исследования
Редактирование задачи
Редактирование коммуникации
Ошибка
Ошибка запуска Lua!
Некорректный формат даты
Страна
Штат/Область
Город
Почтовый код
Телефоны
Эл. почта
Веб-страницы
Значение
Событие
Место
Причина
Засвидетельствовавший орган
Женское
Мужское
Не выбрана персональная запись
У данной персоны не задан пол.
У данной персоны нет семей.
Расчетное количество предков {0} больше допустимых пределов.
Расчетное количество потомков {0} больше допустимых пределов.
Показывать поколений:
неограниченно
Cупруг(а)
Дата брака
Удалить ссылку на отца?
Удалить ссылку на мать?
Удалить ссылку на супруга?
Удалить персону из семьи родителей?
Всё
Только предки
Только потомки
Автосмена центра
Редактировать
Добавить семью
Добавить супруга(у)
Добавить сына
Добавить дочь
Удалить
Перестроить древо
Перестроить отношения
Ссылки
Место/Атрибут
брак
семья
Тёзки
Удалить факт?
Удалить ссылку на заметку?
Удалить ссылку на мультимедиа?
Удалить ссылку на источник?
Удалить ассоциацию?
Удалить пользовательскую сноску?
Ошибка загрузки файла
Ошибка проверки формата
Дни рождения
До дня рождения "{0}" осталось {1} дня(-ей)
Интерфейс
Родословные древа
Росписи
Кодировка сохранения файлов
Адреса
Почта
Сайты
Загрузка из Интернета
Использовать прокси-сервер
Сервер
Порт
Логин
Пароль
Пароль не задан
Показывать при старте подсказки
Язык
Все списки
Список персон
Формат имен в списках
Фамилия_Имя_Отчество
Фамилия; Имя_Отчество
Фамилия; Имя; Отчество
Формат даты в списках
Включать адрес в строки мест
Подсвечивать персоны без родителей
Подсвечивать персоны без семьи
Значения по умолчанию
Отображение персон в древе
Разные строки (имя и отчество)
Только годы
Степень родства
Дополнительные символы
Декоративное оформление
Отображать портреты
Исключить умерших в детстве
Оформление
Мужчина
Женщина
Неизвестный пол
Разведенный супруг
Разведенная супруга
Шрифт
Генерация росписей
Включая атрибуты персон
Включая заметки
Включая источники
Формат
Избыточный
Традиционный
Перейти на запись
Поместить выше
Поместить ниже
Полное имя
Место рождения
Место смерти
Местожительство
Возраст
Продолжительность жизни
Дней до ДР
Вероисповедание
Национальность
Образование
Профессия
Социальное положение
Военная служба
Призван в ВС
Уволен из ВС
Звание в ВС
Изменено
Брак зарегистрирован
Брак не зарегистрирован
Разведены
Рождение
Усыновление
Крещение
Получение ученой степени
Уход на пенсию
Натурализация
Эмиграция
Иммиграция
Перепись
Завещание
Утверждение завещания
Смерть
Похороны
Кремация
Факт
Физическое описание
Идентификационный номер
Код социального страхования
Количество детей
Количество браков
Собственность
Титул
Путешествие
Хобби
Награда
?
отец
мать
муж
жена
сын
дочь
дед
бабушка
внук
внучка
брат
сестра
зять
невестка
свекор
свекровь
тесть
теща
дядя
тетя
племянник
племянница
кузен
кузина
<?>
<?>
<?>
<?>
<?>
<?>
<?>
<?>
<?>
Ширина изображения более 65 тыс. точек. Сохранить невозможно
Назад
Вперед
<?>
Далее
Вы знаете что...
Загрузка и поиск мест
( не выбран )
Выборка
По всем людям
Места рождения
Места смерти
Места проживания
Только по выбранному
Сохранить снимок...
Формат не поддерживается
Ошибка загрузки данных.
Печать
Предварительный просмотр
Поколение
<?>
<?>
Точно
Ранее
Позднее
Между
Период до
Период после
Период между
Около
По расчету
По оценке
Помолвка
Бракосочетание
Публичное объявление о бракосочетании
Заключение брачного контракта
Получение разрешения на брак
Заключение брачного соглашения
Аннулирование брака
Подача заявления о разводе
Развод
Ссылка на файл
Размещение в архиве
Размещение в хранилище
-
Звукозапись
Книга
Карточка
Электронный
Микрофиша
Фильм
Журнал
Рукопись
Карта
Газета
Фотография
Надгробие
Видео
- Другой -
Не задан
Низкий
Нормальный
Высокий
Срочный
Определено
Выполняется
Задержано
Осложнения
Завершено
Отозвано
Звонок
Эл.письмо
Факс
Письмо
Кассета
Визит
от
к
персона
семья
источник
иная
Ненадежное подтверждение или предполагаемые данные
Сомнительная надежность подтверждения
Косвенные доказательства
Прямые и первичные доказательства
Исследование
Задача
Корреспонденция
Коррекция идентификаторов
Проверка формата
Требуется коррекция идентификаторов записей, продолжить?
Количество объектов в основной базе: {0}
Синхронизация завершена.
Поиск патриархов
Поиск взаимосвязей
Медиа-файл не загружен, т.к. отсутствует в медиа-контейнере (хранилище или архиве)
Масштаб
GEDKeeper GEDCOM файлы (*.ged)|*.ged|GEDKeeper шифрованные GEDCOM файлы (*.geds)|*.geds
Все файлы (*.*)|*.*
Изображения (*.bmp;*.gif;*.png;*.jpg)|*.bmp;*.gif;*.png;*.jpg
Скрипты (*.lua)|*.lua
Файлы BMP (*.bmp)|*.bmp|Файлы JPEG (*.jpg)|*.jpg|Файлы EMF (*.emf)|*.emf|Файлы PNG (*.png)|*.png|Файлы GIF (*.gif)|*.gif
Причины смерти
Родословная роспись
Параметр
Всего
Мужчины
Женщины
Фильтр полей
Год
PDF файлы (*.pdf)|*.pdf
RTF файлы (*.rtf)|*.rtf
HTML файлы (*.html)|*.html
Резервирование файлов (бэкап)
только предыдущий файл
Отсечение ветвей
нет
по границе лет
по заданным лицам
- всё -
- нет -
- любые -
Мастер-база
Обновление базы
[текущая база данных]
Установлен фильтр по источнику. Внести источник в новую персональную запись?
Установлен фильтр по группе. Внести группу в новую персональную запись?
Поиск дубликатов
Значение неверно
Операция
Сравнить базы данных
Объединить базы данных
Разделить базу данных
Объединить дубликаты записей
Импорт росписей из внешних форматов
Проверка связности семей
Проверка базы данных
Поиск патриархов
Управление местами
Поиск совпадений...
Проверка связности семей
все
только живые
только умершие
В живых до
только мужчины
только женщины
Маска имени
Маска местожительства
Маска фактов
Только главы семей
Дата неверна
Люди
Годы
Десятилетия
Родилось
Умерло
Живущие
Умершие
Средний возраст
Средняя продолжительность жизни
Среднее число детей
Средний возраст рождения первенца
Среднее количество браков
Средний возраст заключения брака
Количество предков
Количество потомков
Количество поколений потомков
Годы рождения
Годы рождения (десятилетиями)
Годы смерти
Годы смерти (десятилетиями)
Распределение количества детей
Возраст рождения первенца
Возраст вступления в брак
Разница возрастов супругов
Выбрать все связи
Выбрать семью
Выбрать предков
Выбрать потомков
Объединение
Автопоиск
Пропустить
Записи
Поиск персон
Прямое сравнение
Нечеткое сравнение имен
Только по имени/отчеству (только женщины)
Учитывать год рождения
Точность имени, %
Погрешность лет
Исправить
Поколений потомков не менее
Установить признак
Внести в справочник
Схожие фамилии:
Схожие имена:
Выбранные персональные записи удалены
Запись
Проблема
Решение
Возможно умерший (возраст {0})
Не задан пол
Год рождения больше года смерти
Первый брак в возрасте {0} лет?
Первый ребенок родился в возрасте {0} лет?
Потомков
Поколений
Количество ссылок
Обработка мест
Место уже есть в справочнике
Маркеры ДНК
Ср.возр.рождения первенца на ДР родителя
Ср.возр.рождения первенца на ДР ребенка
Пустая запись семьи
сохранять каждую версию файлов
Загрузка
Ошибка сохранения файла "{0}"{1}.
Цвет фона...
Изображение фона...
Персон в древе: {0}
Просмотреть журнал ошибок
Круг предков
Круг
Цвет текста
Цвет фона
Цвет линии
нет
заперто
конфиденциально
секретно
Отправить журнал ошибок
Диаграммы
Под размер окна
Увеличить
Уменьшить
Установить факт смерти
Определить пол
Дополнения
Автопересчет родства
Не найдено соответствий
Найти предыдущее
Найти следующее
Индекс достоверности
Месяца рождений
Месяц
Сбросить
Поле
Условие
Не задан источник
Слайдшоу
Предыдущая запись
Следующая запись
Генерация не удалась
Старт
Стоп
Демография
Имена
Имя-псевдоним
Урожденное
В иммиграции
Девичье
В замужестве
Удалить имя?
Нельзя удалить единственное имя
Цитата
Помечать закладкой объединенное
Показывать у дат календарь
Дублировать запись
Внимание: при дублировании персональных записей, родственные связи и ассоциации не копируются
Показывать у дат обозначения типа
Создать новый файл древа
Открыть файл древа
Сохранить файл древа
Добавить запись (Ctrl+I)
Изменить запись (Ctrl+Enter)
Удалить запись (Ctrl+L)
Фильтрация списка записей
Показать древо предков
Показать древо потомков
Показать полное древо
Родословная роспись
Роспись по д'Абовиллю
Роспись по Коновалову
Статистический анализ данных
Сохранить изображение
Режимы отображения
Создать новый скрипт
Открыть скрипт
Сохранить скрипт
Выполнить скрипт
Присоединить портрет
Отсоединить портрет
Присоединить семью родителей
Правка семьи родителей
Отсоединить семью родителей
Выбрать или добавить отца
Отсоединить отца
Перейти на запись отца
Выбрать или добавить мать
Отсоединить мать
Перейти на запись матери
Скопировать имя в буфер обмена
Выбрать или добавить мужа
Отсоединить мужа
Перейти на запись мужа
Выбрать или добавить жену
Отсоединить жену
Перейти на запись жены
Выбрать персональную запись
Выбрать или добавить место
Удалить ссылку на место
Показать на карте
Выбрать или добавить запись источника
Выбрать запись цели
Для типов хранения "архив" и "хранилище" новый файл БД нужно предварительно сохранить
Файл с таким именем уже есть в хранилище
Это не GEDSEC-совместимый файл
У данной персоны несколько семей. Детей следует добавлять через супругов.
Ошибка выгрузки в Excel
Специфичный фильтр
Отображать линии
Тип сравнения
Сравнение внутреннее (поиск дубликатов)
Сравнение с другой базой
Анализ (экспериментальный)
Сравнить
Не учитывать даты
Диаграмма
Фамильная книга
Оглавление
Персональные записи
Каталоги
Не определяется пол человека по имени "{1}". Это мужской пол?
Автосохранение каждые
минут
Включая номера поколений
Скрывать пустые сегменты